/* styles/registro.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    margin-top: 100px;
}

header h1 {
    color: #ff8800; /* Color anaranjado */
    font-size: 2.5em;
    margin-bottom: 20px;

}

h1.titulo {
    color: #ff8800; /* Color anaranjado */
    font-size: 2em;
    margin-bottom: 20px;
}

.formulario {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formulario label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333333;
}

.formulario input {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

.botonEnviar {
    background-color: #ff8800; /* Color anaranjado */
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonEnviar:hover {
    background-color: #e67600; /* Color anaranjado más oscuro */
}

